# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.fvm/
.android/.gradle

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/file-system.probe
android/.gradle/7.5/gc.properties
android/.gradle/7.5/checksums/checksums.lock
android/.gradle/7.5/dependencies-accessors/dependencies-accessors.lock
android/.gradle/7.5/dependencies-accessors/gc.properties
android/.gradle/7.5/executionHistory/executionHistory.bin
android/.gradle/7.5/executionHistory/executionHistory.lock
android/.gradle/7.5/fileChanges/last-build.bin
android/.gradle/7.5/fileHashes/fileHashes.bin
android/.gradle/7.5/fileHashes/fileHashes.lock
android/.gradle/7.5/fileHashes/resourceHashesCache.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/vcs-1/gc.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
